*{margin: 0;padding: 0;}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to to left, #fff 85% ,#c2f5ff 15%);
}
.navsection{
    width: 100%; height: 20vh;background-color: yellow;
    display: flex; justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 85% ,#34a3b9 15%);
}
.logo{width: 40%;
color: #fff;
background-image: linear-gradient(#8d98e3 40%,#854fee 60%);
padding-left: 100px;
box-sizing: border-box;

}
.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: aag 2s linear infinite;
animation-direction: alternate ;
}
@keyframes agg {
    from{padding-left: 40px;}
    to {padding-right: 40px;}
    
    
}
nav{
    width: 60%;
    
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 17px;
    position: relative;
}


nav a:before {
    content: "";
    position:absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height:2px;
    border-bottom : 20px solid #0e1a64;
transition :all 0.4s linear;


}
nav a :hover::before{
    width: 100%;
}
main{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right{
    background-color: rgb(43, 175, 236);

}
.right img{
    max-width: 400px;
    height: auto;
}

.left{
    color: #000;
    text-transform: uppercase;

}
.left h3{
    font-size: 40px;
    margin-bottom: 20px;
}



.left h1{
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 25px;
}
.left
.btn1{
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    color: rgb(50, 204, 231);
    background-image: linear-gradient(to right,#4458dc 0%, #854fee 100%),radial-gradient(circle at top left,#4458dc,#854fee);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgba(118, 85, 225, .3);
}

.left .btn1 :hover{
    border:2px solid #4458dc;
    color:#222;
    background-color:rgb(190, 238, 18);
    box-shadow:none;
    background-image :none;
}
 body{
     margin:0;
     padding: 0;
     background: #0b0b0b;

 }

 .container{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);

 }
 li{
     display: inline-block;
 }
 li a{
     text-decoration: none;
     display: inline-block;
     color: #fff;
     font-family: source -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 28px;
     padding: 0 20px;
 }

 .fjks::after{
     content: '';
     display: block;
     width: 0;
     height: 2px;
     background: rgb(8, 0, 0);
     transition: width .3s

 }
 .fjks:hover::after{
     width: 100%;
     transition: width .3s
 }